aniso8601==7.0.0
autopep8==1.6.0
Django==2.1.4
django-environ==0.9.0
django-filter==2.0.0
django-graphql-jwt==0.2.1
graphene==2.1.9
graphene-django==2.2.0
graphql-core==2.3.2
graphql-relay==2.0.1
promise==2.3
pycodestyle==2.8.0
PyJWT==1.7.0
pytz==2022.1
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
toml==0.10.2
